html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 400 1em/1.8 -apple-system, BlinkMacSystemFont, Segoe UI, Microsoft Yahei, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --pannel-bg-color: rgba(255, 255, 255, 0.5);
  --pannel-main-bg-color: #ffffff;
  --pannel-font-color: #000;
  --pannel-border-radius: 5px;
  --pannel-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
}
@font-face {
  font-family: 'nonefont';
  /* Project id 2942503 */
  src: url('//at.alicdn.com/t/font_2942503_zdqj09uz5y.woff2?t=1637312863830') format('woff2'), url('//at.alicdn.com/t/font_2942503_zdqj09uz5y.woff?t=1637312863830') format('woff'), url('//at.alicdn.com/t/font_2942503_zdqj09uz5y.ttf?t=1637312863830') format('truetype');
}
