@font-face {
  font-family: "nonefont"; /* Project id 2942503 */
  src: url('iconfont.woff2?t=1677752557381') format('woff2'),
       url('iconfont.woff?t=1677752557381') format('woff'),
       url('iconfont.ttf?t=1677752557381') format('truetype');
}

.nonefont {
  font-family: "nonefont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nicon-wenjianjiaFolders6:before {
  content: "\e684";
}

.nicon-xuanzeyixuanze:before {
  content: "\e62d";
}

.nicon-daoru:before {
  content: "\e61a";
}

.nicon-shanchu1:before {
  content: "\e625";
}

.nicon-fuzhi1:before {
  content: "\e622";
}

.nicon-zhongmingming:before {
  content: "\e657";
}

.nicon-jianqie:before {
  content: "\e600";
}

.nicon-shanchu:before {
  content: "\e630";
}

.nicon-chuangjiantianjiapiliangtianjia:before {
  content: "\e624";
}

.nicon-xiangshang4:before {
  content: "\e795";
}

.nicon-houtui:before {
  content: "\e61d";
}

.nicon-qianjin:before {
  content: "\e623";
}

.nicon-24gf-folderOpen:before {
  content: "\eac5";
}

.nicon-24gf-fileEmpty:before {
  content: "\eac3";
}

